.badge {
  // border: 5px solid $baseAccent;
  display: inline-block;
  width: 100px;
  padding: 5px;
  border-radius: $borderRadius;

  p,h2 {
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  h2 {
    background: $green;
    padding: 5px;
    border-radius: 5px;
  }

  &.horizontal {
    width: auto;
    display: flex;
    align-items: center;

    p {
      padding-right: 8px;
      margin-bottom: 0;
    }

    h2 {
      margin-right: 8px;
    }
  }
}

button {
  border: none;
  border-radius: $borderRadius;
  outline: none;
  background: $green;
  color: $white;
  font-size: 16px;
  position: relative;
  padding: 10px 20px;
  margin-bottom: 3px;

  &.chosen, &.disabled {
    background: $baseAccent !important;

    &::before {
      top: 0;
      left: 0;
    }
  }

  &.disabled {
    pointer-events: none;
  }

  &::before {
    @include psuedo;
    top: 3px;
    left: 3px;
    background-color: $greenDk;
    border-radius: 5px;
    z-index: -1;
  }

  &:active, &.chosen {
    transform: translate(3px, 3px);

    &::before {
      top: 0;
      left: 0;
    }
  }

  &.blue {
    background: $blue;

    &::before {
      background-color: $blueDk;
    }
  }

  &.red {
    background: $red;

    &::before {
      background-color: $redDk;
    }
  }

  &.yellow {
    background: $yellow;
    color: $baseAccent;

    &.disabled {
      color: $white;
    }

    &::before {
      background-color: $yellowDk;
    }
  }
}

.modal {
  position: fixed;
  max-width: 800px;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
z-index: 2;
  background: $baseAccent;
  padding: 30px 5% 50px;
}

.login-wrapper {
  // position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: $spacing-md;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(10,10,10,.6);
  z-index: 0;
  backdrop-filter: blur(4px);
  top: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 300px;
  margin: auto;
  text-align: left;

  input {
    font-size: 16px;
    margin-bottom: 1em;
  }

  button {
    width: 200px;
    margin: 0 auto 10px;
  }
}

.edit-container {
  font-size: 32px;
  line-height: 1;
  min-width: 28px;
  color: $red;
  
  .match-admin-row.disabled & {
    font-size: 14px;
    color: $white;
  }
}


.save-container {
  height: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: .2em;
}

.banner {
  position: relative;
  padding: 5px 0;
  z-index: 10;
}

nav {
  position: fixed;
  padding: 5px 0;
  z-index: 10;
  background: $baseAccent2;
  width: 100%;

  a {
    text-decoration: underline;
    display: inline-block;
    padding: $spacing-xs $spacing-sm;
    margin-bottom: 0;
  }
}

.nav-content {
  display: flex;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  .delete {
    font-size: 30px;
  }
}

.register-intro {
  margin-bottom: $spacing-md;
  p {
    text-align: left;
  }
}


@media screen and (max-width: $breakpoint-md) {
    .back-to-top {
      display: none;      
    }
}