.badge {
  // border: 5px solid $baseAccent;
  display: inline-block;
  width: 100px;
  padding: 5px;
  border-radius: $borderRadius;

  p,h2 {
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  h2 {
    background: $green;
    padding: 5px;
    border-radius: 5px;
  }

  &.horizontal {
    width: auto;
    display: flex;
    align-items: center;

    p {
      padding-right: 8px;
      margin-bottom: 0;
    }

    h2 {
      margin-right: 8px;
    }
  }
}

button {
  border: none;
  border-radius: $borderRadius;
  outline: none;
  background: $green;
  color: $white;
  font-size: 16px;
  position: relative;
  padding: 10px 20px;
  margin-bottom: 3px;

  &.chosen, &.disabled {
    background: $baseAccent;

    &::before {
      top: 0;
      left: 0;
    }
  }

  &.disabled {
    pointer-events: none;
  }

  &::before {
    @include psuedo;
    top: 3px;
    left: 3px;
    background-color: $greenDk;
    border-radius: 5px;
    z-index: -1;
  }

  &:active, &.chosen {
    transform: translate(3px, 3px);

    &::before {
      top: 0;
      left: 0;
    }
  }

  &.blue {
    background: $blue;

    &::before {
      background-color: $blueDk;
    }
  }

  &.red {
    background: $red;

    &::before {
      background-color: $redDk;
    }
  }
}

.modal {
  position: fixed;
  max-width: 800px;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
z-index: 2;
  background: $baseAccent;
  padding: 30px 5% 50px;
}

.login-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(10,10,10,.6);
  z-index: 0;
  backdrop-filter: blur(4px);
  top: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 300px;
  margin: auto;
  text-align: left;

  input {
    font-size: 16px;
    margin-bottom: 1em;
    color: $base;
  }

  button {
    width: 200px;
  }
}

.banner {
  background-color: $baseAccent;
  padding: 5px 0;
}


@media screen and (max-width: $breakpoint-md) {
    .back-to-top {
      display: none;      
    }
}