nav {
    position: fixed;
    z-index: 10;
    background: $baseAccent2;
    width: 100%;
    font-size: 16px;
    -webkit-box-shadow: 0px 10px 36px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 36px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 36px -7px rgba(0, 0, 0, 0.75);

    a {
        text-decoration: underline;
        display: inline-block;
        padding: $spacing-sm 12px;
        font-size: 12px;
        margin-bottom: 0;

        &:hover {
            background: $baseAccent;
        }

        &.active {
            background: $blue;
            text-decoration: none;
        }
    }
}

.nav-wrapper {
    display: flex;
}

.nav-right {
    margin-left: auto;
    font-size: 14px;
}

.nav-title {
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 0;
    text-decoration: none;
    margin-right: $spacing-md;
}

@media screen and (min-width: $breakpoint-sm) {
    nav {
        a {
            min-height: 100%;
            font-size: 16px;
        }
    }

    .nav-title {
        font-size: 24px;
    }
}