.matchup-wrapper {
  border: 5px solid $baseAccent;
  padding: 8px;
  margin-bottom: 48px;
  margin: 0 16px 48px;
}

.table-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 3px;

  h3 {
    padding: 8px;
    margin-bottom: 0;
  }
}

table {
  width: 100%;

  h1,h2,h3,h4,h5,p,li,div {
    margin: 0;
  }

  &.condensed {
    tr {
      height: 30px;
    }
  }

  &.minimal {
    tr {
      height: auto;
    }
  }

  &.alternating {
    tr {
      &:nth-child(even) {
        background-color: rgb(20,20,20);
      }
    }
  }
}

tr {
  height: 60px;

  .admin & {
    height: 40px;
  }

  &:last-child {
    td {
      border-bottom: none;

    }
  }

  &.winner {
    .fighter, .to-win, .bar-container {
      background: $green !important;
    }
  }
}

th {
  background: $baseAccent;
  border-bottom: 1px solid $baseAccent;
  padding: 4px;
}

td {
  border-bottom: 1px solid $baseAccent;

  &.pick {
    padding: 0 6px 0 3px;
  }

  &.fighters {
    input {
      width: 90px;
      margin-bottom: 2px;
    }
  }
}

.match-admin-row {
  td {
    &.short {
      max-width: 40px;
      input {
        width: 40px;
      }
    }

    &.digit {
      max-width: 30px;
      input {
        width: 30px;
      }
    }
  }

  td {
    border-bottom-color: $yellow;
    max-width: 80px;
  }

  &.disabled {
    td {
      border-bottom-color: $baseAccent;
    }

    .icon-save {
      path {
        fill: $baseAccent2;
      }
    }

    .icon-trash {
      path {
        fill: $white;
      }
    }

    input[type="text"] {
      border-color: $base;
    }
  }
  
  input[type="text"] {
    border-color: $white;
    padding: 4px;
    font-size: 14px;
    width: 130px;

    &.digit {
      width: 20px;
    }
  }

  td.medium {
    input[type="text"] {
      width: 80px;
    }
  }
}

.fight-label {
  background: $blue;
}


.sidebar {
  table {
    background-color: $base;
    border: 1px solid $baseAccent2;
    margin-bottom: 16px;
  }
  tr {
    height: 30px;
  }
  td {
    width: 50%;
  }

}

.fighter-pool {
  width: 60%;
  background: $baseAccent;
  padding: 3px 0;
}

.bar-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.bar-container {
  padding: 0 5px;
  margin: 0;
  height: 45px;
  background: $yellow;
  transition: width .25s ease;

  .loser & {
    background-color: $baseAccent2 !important;
  }
}

.bar-label {
  text-align: left;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  
  p {
    margin: 0;
    padding-left: 8px;
  }
  
  .pick-num {
    padding: 8px;
  }
  
}

.picker {
  position: absolute;
  right: 0;
  background: rgba(0,0,0,.5);
  color: $white;

  display: none;
}

.status {
  background: $baseAccent;
  margin-right: 8px;
}

.user-list {
  max-width: 600px;
  margin: auto;
  border: 1px solid $baseAccent;
}

.user-header {
  display: flex;
}

.user-info-header, .user-info-picks {
  display: flex;
  
  & > div {
    width: 25%;
  }

  border-bottom: 1px solid $baseAccent;

  &:last-child {
    border-bottom: none;
  }
}

.user-info-header {
  background: $baseAccent2;
}

.fighters-wrapper {

  & > div {
  display: flex;
  justify-content: flex-start;
  }

  .fighter-toWin, .fighter-picks {
    min-width: 50px;
  }
}

.admin-fighters-cell {
  border-bottom: solid 1px $base;

  & > div {
    flex-basis: 50%;
  }

  &:last-child {
    border-bottom: none;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .picker {
    display: block;
  }
}