* {
  box-sizing: border-box;
}

body {
  background: $base;
  color: $white;
  margin: 0;
}

h1,h2,h3,h4,h5,p,a,span,li,label,input {
  color: $white;
  margin-top: 0;
  margin-bottom: .7em;
  line-height: 1.3;

  &:last-child {
    margin-bottom: 0;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.center {
    text-align: center;
  }
}

h2 {
  font-size: 16px;
}

li {
  margin-bottom: 0.25em;
}

h5 {
  font-weight: 400;
}

span {
  color: inherit;
}

input {
  background-color: $base;
  color: $white;
  border: 1px solid $baseAccent;
}

h1 {
  margin-bottom: .35em;
  line-height: 1.1;
  font-size: 32px;
}

div {
  margin: 0;
}

ul {
  margin-top: 0;
  padding-left: 15px;
}

a {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.inline-b {
  display: inline-block;
}

.bg-red {
  background: $red;
}
.bg-green {
  background: $green;
}
.bg-blue {
  background: $blue;
}
.bg-yellow {
  background: $yellow;
}
.bg-base {
  background: $base;
}
.bg-baseAccent {
  background: $baseAccent;
}
.bg-baseAccent2 {
  background: $baseAccent2;
}

.c-red {
  color: $red;
}
.c-green {
  color: $green;
}
.c-blue {
  color: $blue;
}
.c-yellow {
  color: $yellow;
}
.c-base {
  color: $base;
}
.c-baseAccent {
  color: $baseAccent;
}
.c-baseAccent2 {
  color: $baseAccent2;
}

.b-red {
  @include border($red);
}

.b-blue {
  @include border($blue);
}

.b-green {
  @include border($green);
}

.b-yellow {
  @include border($yellow);
}

.b-base {
  @include border($base);
}

.b-baseAccent {
  @include border($baseAccent);
}

.b-baseAccent2 {
  @include border($baseAccent2);
}

.p-xs {
  padding: $spacing-xs;
}

.p-sm {
  padding: $spacing-sm;
}

.p-md {
  padding: $spacing-md;
}

.p-lg {
  padding: $spacing-lg;
}

.p-lr-xs {
  padding-left: $spacing-xs;
  padding-right: $spacing-xs;
}

.p-lr-sm {
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;
}

.p-lr-md {
  padding-left: $spacing-md;
  padding-right: $spacing-md;
}

.p-lr-lg {
  padding-left: $spacing-lg;
  padding-right: $spacing-lg;
}

.m-0 {
  margin: 0;
}

.m-t-sm {
  margin-top: $spacing-sm;
}

.m-t-md {
  margin-top: $spacing-md;
}

.m-t-lg {
  margin-top: $spacing-lg;
}

.m-b-sm {
  margin-bottom: $spacing-sm;
}

.m-b-md {
  margin-bottom: $spacing-md;
}

.m-b-lg {
  margin-bottom: $spacing-lg;
}

.m-lr-sm {
  margin-left: $spacing-sm;
  margin-right: $spacing-sm;
}

.m-lr-md {
  margin-left: $spacing-md;
  margin-right: $spacing-md;
}

.m-lr-lg {
  margin-left: $spacing-lg;
  margin-right: $spacing-lg;
}

.w-auto {
  width: auto;
}

.d-inB {
  display: inline-block;
}

@media screen and (min-width: $breakpoint-sm) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 18px;
  }
}