section {
  padding: 50px 0 32px;
}

.pick-header {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  padding: 0px 16px;

  .badge {
    width: 200px;
  }

  h2 {
    padding: 8px 32px;
    margin: 0;
    text-decoration: underline;
  }
}

.sidebar {
  padding: 16px;
  border-left: 5px solid $baseAccent2;

  h5 {
    background: $yellow;
    color: $base;
    padding: 2px;
  }
}

.sidebar-picks-container {
  border: 5px solid $base;
  padding: 4px;
  margin-bottom: 8px;
}

.user-list {
  table {
    max-width: 100%;
    width: auto;
  }

  td {
    padding: 4px 8px;
  }
}

.active-match-wrapper {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  th {
    font-size: 14px;

    &.digit {
      width: 30px;
    }

    &.short {
      width: 40px;
    }

    &.medium {
      width: 80px;
    }
  }
}

.title {
  display: inline-block;
  padding: 4px 15px 4px 40px;
  background: repeating-linear-gradient(
    120deg,
    $green,
    $green 15px,
    $yellow 15px,
    $yellow 25px,
    $blue 25px,
    $blue 35px,
    $red 35px,
    $red 880px
  );
  margin-bottom: $spacing-sm;

  &:last-child {
    margin-bottom: 0;
  }
}

.title-container {
  padding: 16px;
}

.text-lockup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacing-lg;

  & > * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.content {
  text-align: left;
  padding: 16px;
  margin-bottom: $spacing-lg;

  &:last-child {
    margin-bottom: 0;
  }
}

.content-center {
  text-align: center;
}

.icon {
  width: 40px;
  height: 40px;

  &.icon-default {
    width: 20px;
    height: 20px;

    path {
      fill: $white;
    }
  }

  &.icon-trash {
    path {
      fill: $baseAccent2;
    }
  }
}

.disclaimer {
  display: inline-block;
  max-width: 600px;
  background: $yellow;
  color: $base;
  padding: 8px 16px;
}

.list-header {
  margin-bottom: 0.3em;
}

.match-rules {
  margin-bottom: 16px;
}

.intro-text {
  margin-bottom: $spacing-lg;
}

.standings-wrapper {
  margin-top: -3px;
}

.auth-error-msg {
  padding: $spacing-sm;
  background: $red;
  margin-bottom: $spacing-sm;
}

.flex {
  display: flex;
}

@media screen and (min-width: $breakpoint-md) {
  .dashboard {
    .pick-wrapper {
      width: calc(100% - 300px);
    }
  }

  .content {
    padding: 32px;
  }

  .flex-content {
    display: flex;
    align-items: center;

    & > * {
      flex-basis: 50%;
    }
  }

  .flex-top {
    align-items: flex-start;
  }

  .sidebar {
    position: fixed;
    right: 0;
    top: 0;
    padding: 60px 32px 32px;
    min-height: 100%;
    width: 300px;
  }
}
