section {
  padding: 32px 0;
}

.pick-header {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  padding: 8px 16px;
  
  .badge {
    width: 200px;
  }
  
  h2 {
    padding: 8px 32px;
  }
}

.sidebar {
  background: $baseAccent2;
  padding: 16px;

  h5 {
    background: $yellow;
    color: $base;
    padding: 2px;
  }
}

.sidebar-picks-container {
  border: 5px solid $base;
  padding: 4px;
  margin-bottom: 8px;
}

.user-list {
  table {
    max-width: 100%;
    width: auto;
  }

  td {
    padding: 4px 8px;
  }
}

.active-match-wrapper {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  display:inline-block;
  padding: 4px 15px 4px 40px;
  background: repeating-linear-gradient(120deg, $green, $green 15px, $yellow 15px, $yellow 25px, $blue 25px, $blue 35px, $red 35px, $red 880px);
}

.text-lockup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;

  & > * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.flex-content {
  text-align: left;
  padding: 16px;
}

.icon {
  width: 40px;
  height: 40px;
}

.disclaimer {
  display: inline-block;
  max-width: 600px;
  background: $yellow;
  color: $base;
  padding: 8px 16px;
}

.list-header {
  margin-bottom: .3em;
}

@media screen and (min-width: $breakpoint-md) {
  .dashboard {
    .pick-wrapper {
      width: calc(100% - 300px);
    }
  }

  .flex-content {
    display: flex;
    padding: 32px;
    align-items: center;

    & > * {
      flex-basis: 50%;
    }
  }

  section.admin {
    width: calc(100% - 300px);
  }

  .sidebar {
    position: absolute;
    right: 0;
    top: 0;
    padding: 60px 32px 32px;
    min-height: 100%;
    width: 300px;
  }
  
}