/* ======================================================================================
// Sass Mixins
// -------------------------------------------------------------------------------------- */

@mixin psuedo {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@mixin border($color: $baseAccent) {
  border: 5px solid $color;
}