$red: #ce1000;
$redDk: #8a0b00;
$blue: #0b418d;
$blueDk: #082e65;
$yellow: #ffca00;
$yellowDk: #d1a700;
$green: #2a844a;
$greenDk: #1d5e34;

:root {
    --red: #ce1000;
    --redDk: #8a0b00;
    --blue: #0b418d;
    --blueDk: #082e65;
    --yellow: #ffca00;
    --yellowDk: #d1a700;
    --green: #2a844a;
    --greenDk: #1d5e34;
    --white: #ededed;
    --base: #0d0d0d;
    --baseAccent: #2e2e2e;
    --baseAccent2: #4f4f4f;
}
    
$white: #ededed;
$base: #0d0d0d;
$baseAccent: #2e2e2e;
$baseAccent2: #4f4f4f;

$borderRadius: 5px;

$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
